<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
    <div fxFlex></div>
    <div fxFlex>
        <md-card class="login-card">
            <md-card-header>
                <md-card-title>
                    <h3>Login</h3>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <form class="login-form" novalidate [formGroup]="form" (submit)="formSubmit($event)">
                    <md-form-field class="input-full-width">
                        <input mdInput placeholder="Username" formControlName="username">
                        <md-error>{{ controlGetError('username') }}</md-error>
                    </md-form-field>
                    <md-form-field class="input-full-width">
                        <input mdInput placeholder="Password" formControlName="password">
                        <md-error>{{ controlGetError('password') }}</md-error>
                    </md-form-field>

                    <button md-raised-button type="reset" (click)="formReset">Reset</button>
                    <button md-raised-button color="primary" type="submit">Login</button>
                </form>
            </md-card-content>
        </md-card>
    </div>
    <div fxFlex></div>
</div>