<md-toolbar color="primary">
    <span>MyCompany</span>
    <span class="toolbar-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
    <button md-menu-item disabled>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
    </button>
    <button md-menu-item>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
    </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
    </button>
</md-menu>

<md-tab-group>
    <md-tab label="Post">
        <md-card class="example-card" *ngFor="let post of posts; let i = index">
            <md-card-header>
                <md-card-title>{{ post.title }}</md-card-title>
            </md-card-header>
            <md-card-content>
                <p>{{ post.body }}</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab label="Gallery">
        <md-card class="example-card" *ngFor="let data of (data ? data.slice(0,10): []); let i = index">
            <img md-card-image src="{{ data.url }}">
            <md-card-title>Hello</md-card-title>
            <md-card-header>
                <md-card-title>{{ data.title }}</md-card-title>
            </md-card-header>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab label="Settings">
        <p>No Content Yet </p>
    </md-tab>
</md-tab-group>