<md-toolbar color="primary">
    <button md-icon-button (click)="myMenuClick()">
        <md-icon>menu</md-icon>
    </button>
    <span>MyCompany</span>
    <span class="toolbar-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
    <button md-menu-item disabled>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
    </button>
    <button md-menu-item>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
    </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
    </button>
</md-menu>