/* .sidebar-container,
.sidebar {
    background-color: lightgray;
}

.sidebar {
    width: 250px;
}

.sidebar-item {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-content {
    min-height: 1024px;
    height: 100%;
} */