<app-menubar (onMenuClick)="sidebar.toggle()"></app-menubar>

<md-sidenav-container class="sidebar-container">

    <md-sidenav class="sidebar" #sidebar mode="side" opened="true">
        <md-nav-list class="sidebar-item">
            <a md-list-item routerLinkActive="active-link" routerLink="/admin/">Dashboard</a>
            <a md-list-item routerLinkActive="active-link" routerLink="/admin/users">Users</a>
        </md-nav-list>
    </md-sidenav>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>