<md-card class="example-card" *ngFor="let post of posts; let i = index">
    <md-card-header>
        <md-card-title>{{ post.title }}</md-card-title>
    </md-card-header>
    <md-card-content>
        <p>{{ post.body }}</p>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="likePost(i)">
                            <md-icon [class.red-color]="post.liked == '1'">favorite</md-icon> LIKE
                        </button>
        <button md-button (click)="sharePost(i)">SHARE</button>
    </md-card-actions>
</md-card>